*{
    margin: 0;
    padding: 0;
}

body{
    background-color: pink;
}

h1{
    background-color: rgb(36, 12, 70);
    text-align: center;
    color: aliceblue;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    cursor: pointer;
    background-color: rgb(19, 18, 18);
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin: 3rem;
    gap: 6rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}

.msg-container{
    margin-top: 6rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#msg{
    background-color: rgb(33, 30, 30);
    color: aliceblue;
    font-size: 2rem;
    display: inline;
    padding: 2rem;
    border-radius: 2rem;
}